* {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
}

/* .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
} */
